<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MqttBrokerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MqttBrokerService.Properties.Settings.connectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MqttBrokerTest;Persist Security Info=True;User ID=sa;Password=xxxxxxx"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <MqttBrokerService.Properties.Settings>
      <setting name="SSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>mqttAdmin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>gnatMQTT@service</value>
      </setting>
      <setting name="DnsName" serializeAs="String">
        <value>www.mydomain.com</value>
      </setting>
    </MqttBrokerService.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MqttBroker.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
</configuration>